# Python Looping

## 1. For Loop

In [2]:
# bikin sequence
fruits = ["Pisang","Anggur","Strawberry","Apel"]
print(fruits)

['Pisang', 'Anggur', 'Strawberry', 'Apel']

In [3]:
#Do For Loop
for x in fruits:
    print(f"Nama Buah: {x}")

Nama Buah: Pisang
Nama Buah: Anggur
Nama Buah: Strawberry
Nama Buah: Apel

### Range Method

In [ ]:
himpunan = range(10)

In [8]:
for i in himpunan:
    print(f"Bilangan Ke-{i}")

Bilangan Ke-0
Bilangan Ke-1
Bilangan Ke-2
Bilangan Ke-3
Bilangan Ke-4
Bilangan Ke-5
Bilangan Ke-6
Bilangan Ke-7
Bilangan Ke-8
Bilangan Ke-9

In [12]:
bilangan = range(1,11)
print(bilangan)

range(1, 11)

In [13]:
for t in bilangan:
    print(f"Bilangan Ke-{t}")

Bilangan Ke-1
Bilangan Ke-2
Bilangan Ke-3
Bilangan Ke-4
Bilangan Ke-5
Bilangan Ke-6
Bilangan Ke-7
Bilangan Ke-8
Bilangan Ke-9
Bilangan Ke-10

In [20]:
number = range(2,50,4)
print(number)

range(2, 50, 4)

In [21]:
for y in number:
    print(f"Angka ke-{y}")

Angka ke-2
Angka ke-6
Angka ke-10
Angka ke-14
Angka ke-18
Angka ke-22
Angka ke-26
Angka ke-30
Angka ke-34
Angka ke-38
Angka ke-42
Angka ke-46

## 2.While Loop

In [ ]:
i = 1

In [24]:
while i<12:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11

### Continue

In [33]:
bil = range(30)
print(bil)

range(0, 30)

In [59]:
for s in bil:
    if s % 2 == 1:
        continue
    print(s)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [49]:
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

## Break

In [61]:
for j in range(5):
      if j == 3:
            break
      print(j)

0
1
2

In [69]:
input_bil = int(input("Masukan bilangan yang ingin dicari: "))
print(f"Kamu akan mencari bilangan {input_bil}, Tunggu yah")
for g in bil:
    print("Mencari..")
    if g == input_bil:
        print(f"Selamat, bilangan {g} berhasil ditemukan")
        break

Masukan bilangan yang ingin dicari: 21
Kamu akan mencari bilangan 21, Tunggu yah
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Mencari..
Selamat, bilangan 21 berhasil ditemukan

In [72]:
input_bil = int(input("Masukan bilangan yang ingin dicari: "))
print(f"Kamu akan mencari bilangan {input_bil}, Tunggu yah")
for g in bil:
    if g == input_bil:
        print(f"Selamat, bilangan {g} berhasil ditemukan")

Masukan bilangan yang ingin dicari: 21
Kamu akan mencari bilangan 21, Tunggu yah
Selamat, bilangan 21 berhasil ditemukan

## Nested Loop

In [63]:
for p in range(2):
      for e in range(3):
            print("p:{},e:{}".format(p,e) ,end=" ")
      print()

p:0,e:0 p:0,e:1 p:0,e:2
p:1,e:0 p:1,e:1 p:1,e:2

In [2]:
for u in range(2):
      for v in range(3):
            print(f"u:{u},v:{v}")
      print() #ngasih jarak kosong

u:0,v:0
u:0,v:1
u:0,v:2

u:1,v:0
u:1,v:1
u:1,v:2

### Didalam list ada nested list

In [ ]:
li = [
    ["Iqbal","Rima","Budi","Irma"],
    ["Jakarta","Bekasi","Karawang","Cikarang"]
]

for y in li:
    print(y)

In [ ]:
for y in li:
    for h in y:
        print(f"Hasil: {y}")
    print()

## QUIZ1

In [ ]:
jumlah = int(input("masukan jumlah nama yang mau dimasukan: "))
print(f"jumlah nama, {jumlah} !")
k = 1
h = 1
nama = []
while k <= jumlah:
    nama.append(input(f"Masukan nama ke-{k}: "))
    k += 1  
while h < k:
    for l in nama:
        print(f"Nama ke-{h} adalah: {l}")
        h += 1

## Quiz 2